<configuration>

    <timestamp key="timestamp" datePattern="yyyy-MM-dd"/> <!-- _HH-mm-ss -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | [%thread] %-5level| %class{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- folder: every session: create log with name template <TIMESTAMP.log> -->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/${timestamp}.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level | %class{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>